
<app-login></app-login>
<app-banner>
  <!--Content child of the app banner-->
  <app-output></app-output>
</app-banner>
<app-banner>
  <!--Content child of the app banner-->
  <timer></timer>
</app-banner>
<app-banner>
  <!--Content child of the app banner-->
  <app-bmi-calcualtor-container></app-bmi-calcualtor-container>
</app-banner>
<app-banner>
  <!--Content child of the app banner-->
  <app-login></app-login>
</app-banner>
<app-banner>
  <!--Content child of the app banner-->
  
</app-banner>
<app-document>
  <h1 class="header">Angular doc</h1>
  <span class="content">Content---</span>
  <span class="footer">Copyright</span>
</app-document>
<!-- <app-footer></app-footer> -->
